body {
  background-color: #ffffff;
}

p {
  margin: 11px 0 0 0;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  float: left;
  left: calc(3% + 64px);
  color: #000000;
}

.header-div {
  display: flex;
  justify-content: center;
  padding-bottom: 4px;
}

.HeaderSignedIn {
  display: inline-block;
  width: 327px;
  height: 48px;
  }

.Logo {
  position: relative;
  width: 85.42px;
  height: 30px;
  left: calc(100% - 477px/2 - 0.5px);
  padding-top: 4px;
}

.listings-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 327px);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Card {
  width: 327px;
  height: 232px;
}

.bottom-div {
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0;
}

.BottomNav {
  display: inline-block;
  width: 375px;
  height: 68px;
}

@media only screen and (max-width: 660px) {
  .listings-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  p {
    left: 10%;
  }
  .Logo {
    left: 50%;
  }
  .HeaderSignedIn {
    max-width: 100%;
    height: auto;
  }
  .Card {
    max-width: 100%;
    height: auto;
  }
  .BottomNav {
    max-width: 100%;
    height: auto;
  }
}
